<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form name="form" action = "{% url "add_car" %}" method="POST" >

        {% csrf_token %}

        {{ form.as_p }}

        <div style="max-width:470px;">
            <div style="text-align: center;">
               <button style="border:0px; background-color:#4285F4; margin-top:8%;
                  height:35px; width:80%;margin-left:19%;" type="submit"
                  value="Add car">
                  <strong>Add car</strong>
               </button>
            </div>
        </div>
    </form>
</body>
</html>